version: "3.9"

services:
  # Build backend
  scheduler:
      build: ./backend
      # restart: on-failure
      volumes:
          # Sync container container clock to local machine
          - /etc/localtime:/etc/localtime:ro
          # Persist logs
          - ./backend/logs:/backend/logs
          # Share data from backend with app
          - data_bridge:/backend/scheduled_data
  # Build webapp
  app:
      build: ./app
      # restart: on-failure
      ports:
        - 8050:8050
      depends_on:
        - scheduler
      volumes:
          - /etc/localtime:/etc/localtime:ro
          - ./app:/app
          - data_bridge:/app/files/scheduled_data

volumes:
  data_bridge: