body {
  font-family: 'Lora', serif;
  text-align: center;
}

.header {
  background-color: #8b0000;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-emoji {
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
}

.header-title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

#header-title1 {
  color: #f1ba20;
}

#header-title2 {
  color: #ffffff;
}

#header-title3 {
  color: #000000;
}

.header-description {
  color: #ffffff;
  margin: 4px auto;
  text-align: center;
  max-width: 384px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 32px;
}

.card {
  margin-bottom: 24px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}