body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: rgb(25,27,27);
}

.header {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.header-title {
  font-size: calc(26px + 6 * ((100vw - 320px) / 680));
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

#header-title1 {
  color: #f1ba20;
}

#header-title2 {
  color: #ffffff;
}

#header-title3 {
  color: #8b0000;
}

.covidLINK {
  color: #f1ba20;
}

.table-container {
  color: white;
  background-color: black;
}

.dropdown-container {
  width: 500px;
  color: black;
}

.slider-container {
  width: 500px;
}

.radio-button-container {
  width: 500px;
}

.flex-container {
  display: flex;
  font-size: smaller;
}

.header-description {
  color: #AAAAAA;
  margin: 4px auto;
  text-align: center;
  max-width: 384px;
}

.coropleth-container {
  padding: 10px 5px 10px 5px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 32px;
}

.card {
  margin-bottom: 24px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}